@model DuAn_QLCY.Models.EmployeeTraining

@{
    ViewData["Title"] = "CreateEmployeeTrainings";
}

<h1>CreateEmployeeTrainings</h1>

<h4>EmployeeTraining</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployeeTrainings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeesSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProgramId" class="control-label"></label>
                <select asp-for="ProgramId" class="form-control" asp-items="ViewBag.TrainingProgramsSelectList"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompletionStatus" class="control-label"></label>
                <input asp-for="CompletionStatus" class="form-control" />
                <span asp-validation-for="CompletionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
